{% extends 'base.html' %}
{% load staticfiles  %}
{% block head %}
 <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
<a href="/logout">Logout</a>
<div class="row">
    <div class="small-6 large-centered columns">
        <p>
            What are you looking for?
        </p>
    </div>
</div>   
                
                
       <div class="select">         
<div class="row">
      <div class="medium-6 columns hvr-grow ">
        <div class="div">
          <div class="div-icon">
            <span class="fi-telephone"><img src="{% static 'img/help.png' %}"> </span>
          </div>
          <div class="info">
            <h4 class="text-center">I want to give back to the community</h4>
            <p>Find someone you can aid with your skiils.</p>
            <a href="{% url 'src:helper' %}" class="button">Volunteer</a>
          </div>
        </div>
      </div>
      <div class="medium-6 columns hvr-grow ">
        <div class="div">
          <div class="div-icon">
              <span class="fi-mail"><img src="{% static 'img/support.png' %}"></span>
          </div>
          <div class="info">
            <h4 class="text-center">I want to seek help from the community</h4>
            <p>Find people who can aid you</p>
            <a href"{% url 'src:seeker' %}" class="button">Request</a>
          </div>
        </div>
      </div>
</div>
           </div>
            {% endblock %}
                
                
            